body {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}

.menu-principal {
    width: 100%;
    background-color: white;
    height: 100px;
}

main {
    margin: 0 auto;
    width: 80%;

}

.logo {
    margin-left: 30px;
    width: 10%;
    float: left;


}

.todosbotoes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100px;
    align-items: center;

}

.botoes {
    color: rgb(39, 39, 39);
    font-size: 17px;
    text-transform: capitalize;
    text-align: center;
}

.slider-container {
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
}

.image-slide {
    width: 100%;
    height: 100%;
}


div.carousel-caption {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow:
        -1px -1px 0px rgb(54, 54, 54),
        -1px 1px 0px rgb(54, 54, 54),
        1px -1px 0px rgb(54, 54, 54),
        1px 0px 0px rgb(54, 54, 54);
}

.atracoes {
    background-color: #F99528;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 80px;


}

div.show {
    height: 550px;
    width: 360px;

    border-radius: 20px;
    border: 5px solid rgb(255, 255, 255)
}


#a1 {
    background: url(../img/rapiteis.png) no-repeat center;
    position: relative;
    overflow: hidden;

}

#a2 {
    background: url(../img/tigre.png) no-repeat center;
    position: relative;
    overflow: hidden;
}

#a3 {
    background: url(../img/Hipopotamo.png) no-repeat center;
    position: relative;
    overflow: hidden;
}

.coveratracao {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.coveratracao:hover {
    background-color: black;
    opacity: 0.6;
}